*, *:before, *:after{
	box-sizing: border-box;
}
html{
	height: 100%;
}
html,body{
	min-height: 100%;
}
body{
	margin: 0;
	background-color:  #ffffff;
	color:  #171717;
}
.ba-container{
	margin: 0 auto;
	max-width: 1500px;
	padding: 130px 50px;


}
/*.ba-container1{
	margin: 0 auto;
	max-width: 1330px;
	padding: 130px 15px;
} */
.ba-editor-box{
	background-color:  #ffffff;
	box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
	padding: 140px 138px 227px 121px;
	color: #6F6F6F;
	font: 300 18px/1.88 Lato, Arial, sans-serif;
}
.ba-title{
	font-family: PlayfairDisplay;
	color:  #171717;
	font-size: 42px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: left;
}
.pull:first-letter{
color:  #171717;

font-size: 180px;
padding: 2px;
font-family: Georgia, Tahoma, sans-serif;
margin-right: 10px;
line-height: 0.35em;
float: left;
}
.ba-p{
	font-family: Lato Light, Tahoma, sans-serif;
	color:  #8F8F8F;
	font-size: 24px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 34px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	font-style: italic;
}
/*.ba-z{
	font-family: Lato Light;
	color:  #8F8F8F;
	font-size: 48px;
	font-weight: 300;
	line-height: 34px;
	text-align: left;
	font-style: italic;
}*/
.pull:first-letter{
font-family: PlayfairDisplay;
float: left;
font-size: 115px;
padding: 28px 0px 0px 0px;
}
.ba-button{
	margin: 0 auto;
	border-left: 2px solid #eaa258;
	border-right: 2px solid #eaa258;
	border-top: 2px solid #eaa258;
	border-bottom: 2px solid #eaa258;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;

	padding: 22px 70px;
	color: #eaa258;
}
.ba-button:hover{
	color:#fff;
	background-color: #eaa258;
}
.ba-z:before {
	content: "\201C " ;
	font-size: 48px;
}
/*
.ba-editor-box :last-child{
	margin-bottom: 0;
}
.ba-title{
	font-family: FuturaPT, Arial, sans-serif;
	color:  #2a2a2a;
	font-size: 77.94px;/* Приближение из-за подстановки шрифтов */
	/*font-weight: 800;
	line-height: 1.22;
	text-align: left;

	font: 800px 78px/1.22Futural PT, Arial, sans-serif;
}
